:root {
  --primary-color: #996633;
}

body {
  background-color: #f2e6d9;
}

.btn-language {
  color: var(--primary-color);
}

.btn-language:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.calculator-container h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.title-btns .btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.title-btns .btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}